<!DOCTYPE html>
<html>
    <body>
        <form method="POST" action="/book/create">
            <label for="title">Enter Title:</label>
            <input type="text" id="title" name="title" required>
            <label for="author">Enter Author:</label>
            <input type="text" id="author" name="author" required>
            <label for="publisher">Enter Publisher:</label>
            <input type="text" id="publisher" name="publisher" required>
            <label for="pages">Enter No.of pages:</label>
            <input type="text" id="pages" name="pages" required>
            
            <input type="submit">
        </form>
    </body>
</html>