<!DOCTYPE html>
<html>
    <body>
        <form method="POST" action="/auth/register">
           
            <label for="email">Enter Email:</label>
            <input type="text" id="email" name="email">
            <label for="password">Enter Password:</label>
            <input type="text" id="password" name="password">
            <label for="name">Enter Name:</label>
            <input type="text" id="name" name="name">
            <input type="submit">
        </form>
    </body>
</html>